<h3>Buscar por Región <small>{{ regionActiva |titlecase}}</small></h3>
<hr>
<h5>Seleccione la región</h5>

<div class="row">
    <div class="col">
        <button (click)="activarRegion(region)" *ngFor="let region of regiones"
            [class]="getClaseCSS(region)">
            {{region | titlecase}}
        </button>
        <div *ngIf="hayError" class="alert alert-danger">
            No hay ningún país con el término "{{regionActiva}}".
        </div>
        <div *ngIf="paises.length>0" class="row">
            <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>